article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Arvo);

body{
  background: url(./resources/tableBackground.png);
  background-size: cover;
  font-family: 'Arvo', serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div {
  padding-right: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header button {
  margin: 7% 0 0 0;
}
h1{
  font-family: 'Monoton', cursive;
  color: #b92e34;
  font-size: 10rem;
  animation: neon 1.5s ease-in-out infinite alternate;
}

h2 {
  font-size: 4rem;
  color:rgb(255, 17, 37);
  margin: 0;
}

h3{
  font-size: 2.5rem;
  color:rgb(255, 17, 37);
  margin: 0;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 17, 37), 0 0 70px #ff2631, 0 0 80px rgb(255, 17, 37), 0 0 100px rgb(255, 17, 37), 0 0 150px rgb(255, 17, 37);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 17, 37), 0 0 35px rgb(255, 17, 37), 0 0 40px rgb(255, 17, 37), 0 0 50px rgb(255, 17, 37), 0 0 75px white;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}

button {
    width: 6rem;
    height: 6rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 5.3333333333rem;
    text-align: center;
    color: rgb(255, 17, 37);
    background: #FFF;
    border: 0.3333333333rem dashed rgb(255, 17, 37);
    border-radius: 6rem;
    transition: all linear 0.2s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    margin-right: 3.5%;
}

input:active {
  border:blue 2px solid
}

focus:active {
  border: red solid 3px;
}

button:hover {
  border: 0.3333333333rem dashed blue;
  color: blue;
}

button:active {
  border: 0.3333333333rem dashed blue;
  color: blue;
}

/* gameboard */
.wrapper {
  height: 100vh;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 1500px;
}

nav{
  color: white;
  font-size: 2rem;
}

nav p {
  margin: 1rem 0 0 0;
}

img {
  width: 100%;
}
.playing {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  height: 80%;
}

figure {
  width: 185px;
}

.dealerHand {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.gameBoard {
  width: 100%;
  height: 100vh;
}
.buttonsBoard{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 10%;
}

.buttonsBoard .buttonHit {
  margin-left: 3.5%;
}

.buttonsBoard h3 {
  color: white;
}

.buttonsBoard .buttonStay {
  margin-right: 3.5%;
}

.mainBoard {
  height: 10vh;
}

.announcement {
  width: 20%;
  color:white;
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
}

.announcement p {
  animation: neon 1.5s ease-in-out infinite alternate;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 10%;
}

.userHand {
  display: flex;
  flex-wrap: wrap; 
  justify-items: center;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  border-top: 4px dashed white;
}
.gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white
}

.gameover p{
  font-size: 1.5rem;
}

.globalNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}

.leaderboard {
  font-size: 1.4rem;
  text-align: center;
  padding:  1rem 3rem 0 3rem ;
  background-color: black;
  border: 3px solid white;
  border-radius: 15px;
}

.leaderboard li {
  margin-bottom: 2.5%;
}

.betDiv{
  margin-top: 21%;

}

.number {
  display: flex;
  justify-content: center;
}

.betDiv h3 {
  color:white;
  padding-bottom: 2rem;
}

.number input {
  width: 9rem;
  font-size: 2rem;
  margin-right: 2.5%;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.instructions h3 {
  font-size: 3rem;
}

.instructions ul {
  color: white;
  font-size: 1.2rem;
  list-style: none;
  background-color: black;
  border: 3px solid white;
}

.instructions ul li {
  padding: 1rem;
}

.instructions button {
  margin: 0;
}

.startButtons button{
  margin: 2rem;
}
/* Portrait tablet and small desktops */
@media (max-width: 1000px){
  figure {
    width: 115px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 800px){
  h1{
    font-size: 7.5rem;
  }
  figure {
    width: 110px;
  }
  nav {
    font-size: 1.5rem;
  }
}
/* Landscape phones and down */
@media (max-width: 500px){
  h1{
    font-size: 5.5rem;
  }
  figure {
    width: 110px;
  }
  nav {
    font-size: 1.3rem;
  }
  .announcement p {
    font-size: 1rem;
  }
  nav div {
    padding-right: 1rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3{
    font-size: 2rem;
  }
  .leaderboard {
    padding: 0; 
  }
  .instructions {
    height: auto;
  }
  .betDiv{
    margin-top: 25%;
  
  }
}
/*Even smaller*/
@media(max-width: 320px){
  h1{
    font-size: 4.5rem;
  }
  figure {
    width: 80px;
  }
  .gameover h2 {
    font-size: 2rem;
  }
  .gameover h3 {
    font-size: 1.75rem;
  }
  .gameover p {
    font-size: 1.35rem;
    padding-left: 0.5rem;
  }
}